body {
background: #b3d9ff;
}
#bs-example-navbar-collapse-9 {
    border-color: #101010;
    background: #333;
}

h1 {
	margin-left: 10px;
	font-family: gabriola;
	font-size: 500%;
	color: #333;
	text-align: center;
}